<div id="<%= dom_id calendar_event %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Business:</strong>
    <%= calendar_event.business_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= calendar_event.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= calendar_event.start_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End time:</strong>
    <%= calendar_event.end_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Booking:</strong>
    <%= calendar_event.booking_id %>
  </div>
</div>
