<div id="<%= dom_id queue_ticket %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Booking:</strong>
    <%= queue_ticket.booking_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Position:</strong>
    <%= queue_ticket.position %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= queue_ticket.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Issued at:</strong>
    <%= queue_ticket.issued_at %>
  </div>
</div>
